PORT="3000"

# Polar
POLAR_ACCESS_TOKEN=""
POLAR_PRODUCT_ID=""
POLAR_WEBHOOK_SECRET=""
POLAR_SUCCESS_URL="https://<your-ngrok-subdomain>.ngrok-free.dev/?success=true"
POLAR_RETURN_URL="https://<your-ngrok-subdomain>.ngrok-free.dev/"

# MongoDB
MONGODB_URI=""
